* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #f9fbff;
  color: #242628;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.fullwidth {
  width: 100%;
}
.text-center {
  text-align: center;
}

.text.purple {
  color: #cc6699;
}
.text.light-blue {
  color: #e3eefb;
}
.text.dark-blue {
  color: #5da3c7;
}
.text.green {
  color: #77b300;
}
.text.orange {
  color: #dda055;
}

p {
  color: #242628;
}

a {
  color: #242628;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

textarea, input, button {
  outline: none;
}

@import './appbar.css';
@import './appbar-nav.css';
@import './container.css';
@import './cards.css';
@import './tabs.css';
@import './actions.css';
@import './form/inputs.css';
@import './form/buttons.css';
