a.action {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #77b300;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a.action:hover {
  color: #77b300;
  text-decoration: none;
}

.action-box {
  display: flex;
  flex-direction: column;
}

.action-card {
  padding: 0;
  margin: 0;
  border: 3px solid #e3eefb;
  border-radius: 10px;
  width: 100%;
  padding-left: 90px;
  background: #f6f6f6;
}

a.action-name {
  color: #242628;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

a.action-add, a.action-add:hover {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 100%;
  color: #242628;
  padding: 0;
  margin: 0;
  line-height: 32px;
  height: 32px;
}
