.header {
  background: #5da3c7;
  box-shadow: 0 2px 0 0 #4194be;
  color: rgba(255, 255, 255, 0.48);
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-projects {
  margin: auto;
  width: 55rem;
  min-width: 55rem;
  max-width: 55rem;
}

.header-logo {
  height: 40px;
  width: 40px;
  margin: 8px;
  margin-left: 0;
  border: solid 6px #8dbfd8;
  border-radius: 50%;
  text-align: center;
  display: block;
  float: left;
  background: #ecf4f8;
  transition: .3s background;
}

.header-project-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 56px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: background 0.2s;
  color: #fff;
  font-weight: 700;
  padding: 0;
  float: left;
  position: relative;
  z-index: 2;
  max-width: 200px;
  font-size: 20px;
}
