input[type=text].no-border {
  border: none;
  border-bottom: solid 1px #ffffff;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  width: 100%
}

input[type=text].no-border:hover {
  border-bottom: dashed 1px #e0e0e0;
}

input[type=text].no-border:focus {
  border-bottom: dashed 1px #5da3c7;
}

input[type=text].no-border.smaller {
  border-bottom: dashed 1px #5da3c7;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 17px;
  line-height: 17px;
  height: 30px;
  font-weight: normal;
  background: none;
}

input[type=text].editable, textarea.editable {
  resize: none;
  border-radius: 5px;
  border: solid 2px #e3eefb;
  padding: 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  width: 100%
}
