input[type=text].no-border {
  border: none;
  border-bottom: solid 1px #ffffff;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  width: 100%
}

input[type=text].no-border:hover {
  border-bottom: dashed 1px #e0e0e0;
}

input[type=text].no-border:focus {
  border-bottom: dashed 1px #5da3c7;
}
